<%- include ('./head') %>
​
<body>
    <%- include ('./header') %>
    <section class="calfoodprint">
        <h1>Foodprint 소비기한 계산기</h1>
        <p>유통기한 <%-expiration%></p>
        <p>소비기한 까지 남은 날짜는 <%-diffDays%>일 입니다.</p>
        <p>음식 이름 <%-foodname%></p>
    </section>
</body>

<%- include ('./tail') %>