<%- include ('./head') %>


<body>
    <%- include ('./header') %>
    <div class="foods">
        <div class="container">
            <div class="inner">
                <div class="section-text">
                    <h3 class="section-title">
                        음식들의 <br>
                        소비기한 알아보기
                    </h3>
                    <p class="section-desc">각 음식별 보관방법과 활용 방법을 확인하세요!</p>
                </div>
                <ul class="food-list ">
                    <% for(var item of cdata.foods){ %>
                            <li class="food-li-<%=item.engName%>">
                                <a href="<%= item.href %>">
                                <div class="food-img">
                                    <img src="<%= item.img %>" alt="<% item.name %>">
                                </div>
                                <div class="food-text">
                                    <% if(item.name ==="준비중"){%>
                                        <h3><%= item.name %></h3>
                                    <%} else{%>
                                        <h3 class="food-title">
                                            <%= item.name %>의 소비기한을 알아보고 지구<br> 지키기에 동참하세요🌏
                                        </h3>
                                       <p><%= item.usebydate %></p> 
                                    <%}%>
                                    <p class="food-desc">올바른 보관방법, 소비기한을 알아보고 재료를 활용할 수 있는 다양한 방법을 알아보세요! </p>
                                </div>
                                </a>
                            </li>
                       
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>


<%- include ('./tail') %>