<%- include ('./head') %>
​
<body>
    <%- include ('./header') %>
    <div class="wrap">
​
        <!--visual(slide)-->
        <div class="visual">
            <div class="section">
                <input type="radio" name="slide" id="slide01" checked>
                <input type="radio" name="slide" id="slide02">
                <input type="radio" name="slide" id="slide03">
                <div class="slide-wrap">
                    <ul class="slidelist">
                        <li>
                            <a>
                                <label for="slide03" class="left"></label>
                                <div class="textbox">
                                    <h3>잠깐! 냉장고 정리 하시나요?</h3>
                                    <p>'유통기한'과 '소비기한'의 차이점을 아시나요?</p>
                                </div>
                                <img src="image/green_withpic.png">
                                <label for="slide02" class="right"></label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <label for="slide01" class="left"></label>
                                <div class="textbox">
                                    <h3>제품에 달린 'QR'을 찍어보세요!</h3>
                                    <p>무심코 버리려던 음식들을 재탄생 시켜줍니다!</p>
                                </div>
                                <img src="image/green_withpic.png">
                                <label for="slide03" class="right"></label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <label for="slide02" class="left"></label>
                                <div class="textbox">
                                    <h3>????</h3>
                                    <p>~~~~~~~</p>
                                </div>
                                <img src="image/green_withpic.png">
                                <label for="slide01" class="right"></label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
​
        <!--explain(미완성)-->
        <div class="explain">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2 class="explain-title">
                            유통기한? 소비기한?
                        </h2>
                        <p class="explain-desc">
                            <strong>유통기한</strong> : 제품의 제조일로부터 소비자에게 유통, 판매가 허용되는 기한<br>
                            <strong>소비기한</strong> : 표시된 보관 조건에서 소비하여도 안전에 이상이 없는 기한
                        </p>
                        <div class="button-area">
                            <a href="#"><button>소비기한에 대해 더 알아보기 &rarr; </button></a>
                        </div>
                    </div>
​
                    <div class="col-12 col-md-6">
                        <h2 class="explain-title">
                            유통기한 경과로 버려지는 식품들
                        </h2>
                        <p class="explain-desc">식품의약품안전처에 따르면 ,우리나라에서 한 해동안 발생하는 유통기한 경과로 버려지는 가공식품 폐기 비용은 연간 1조 3000억 원이 넘는 것으로 예상된다.<br>
                            또한 녹색소비자연대에 따르면, 소비자의 56%는 유통기한을 식품 폐기 시점으로 인식하고 있다
                        </p>
                        <div id="explain-detail">
                            <div class="explain-detail">
                                <strong>56 % </strong>
                                <!--<p>유통기한을 식품 폐기 시점으로 인식하는 소비자의 비율, 56%</p>-->
                            </div>
                            <div class="explain-detail">
                                <strong> 1조3000억원</strong>
                                <!--<p>연간 유통기한 경과 가공식품 폐기 비용, 1조 3000억</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
​
<div class="foods">
    <div class="container">
        <div class="inner">
            <div class="section-text">
                <h3 class="section-title">
                    음식들의 <br>
                    소비기한 알아보기
                </h3>
                <p class="section-desc">각 음식별 보관방법과 활용 방법을 확인하세요!</p>
            </div>
            <ul class="food-list ">
                <% for(var item of cdata.foods){ %>
                        <li class="food-li-<%=item.engName%>">
                            <a href="<%= item.href %>">
                            <div class="food-img">
                                <img src="<%= item.img %>" alt="<% item.name %>">
                            </div>
                            <div class="food-text">
                                <% if(item.name ==="준비중"){%>
                                    <h3><%= item.name %></h3>
                                <%} else{%>
                                    <h3 class="food-title">
                                        <%= item.name %>의 소비기한을 알아보고<br> 지구 지키기에 동참하세요🌏
                                    </h3>
                                <%}%>
                                <p class="food-desc">소비기한, 보관방법,  </p>
                            </div>
                            </a>
                        </li>
                   
                <% } %>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
<%- include ('./tail') %>
    