<%- include ('./head') %>
    <link rel="stylesheet" href="css/pages/search.css">

    <body>
        <%- include ('./header') %>
            <div class="wra" id="search">
                <div class="foods foodsearch">
                    <h1>검색결과<%-searching%> 
                    </h1>
                    <% if(Object.keys(foods).length==={} || Object.keys(foods).length===0){%>
                        <div class="no-search">
                            <h5>No Search foods 🤢 <br>
                                더 많은 음식들은 준비중입니다.
                            </h5>
                        </div>
                        <%} else {%>
                            <li class="food-li-<%=foods.engName%>">
                                <a href="<%= foods.href %>">
                                    <div class="food-img">
                                        <img src="<%= foods.img %>" alt="<% foods.name %>">
                                    </div>
                                    <div class="food-text">
                                        <h3 class="food-title">
                                            <%= foods.name %>의 소비기한을 알아보고 지구 지키기에 동참하세요🌏
                                        </h3>

                                        <p class="food-desc">올바른 보관방법, 소비기한을 알아보고 재료를 활용할 수 있는 다양한 방법을 알아보세요!</p>
                                    </div>
                                </a>
                            </li>
                            <!-- 서치결과 보여주고 링크 걸어주기-->
                            <% }%>


                </div>
            </div>
    </body>
    <%- include ('./tail') %>